body {
    margin: 0;
}

.top {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #e7e7e7;
    padding-left: 5%;
    padding-right: 5%;
}

.top > :nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: inherit;
}

.top > :nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: inherit;
}

.top > :nth-child(1) > p {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 2em;
    color: black;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu   Sans", "Helvetica Neue", Arial, sans-serif;
}

.top > :nth-child(1) > img {
    width: auto;
    height: 3em;
    margin-right: 1em;
}

.top > :nth-child(2) > a > button {
    border: none;
    background: none;
    padding: 0;
    width: fit-content;
    height: fit-content;
    font-size: 2em;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu   Sans", "Helvetica Neue", Arial, sans-serif;
    color: inherit;
}

.top > :nth-child(2) > a {
    text-decoration: none;
    margin-left: 2em;
    margin-right: 2em;
}

.activeButton {
    color: black;
}

.inactiveButton {
    color: #adadad;
}

@media screen and (max-width: 700px) {
    .top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .top > :nth-child(1) {
        margin: 0;
    }

    .top > :nth-child(2) {
        margin: 0;
        margin-top: 1em;
    }

    .top > :nth-child(2) > a {
        margin-right: 2vw;
        margin-left: 2vw;
    }
}

@media screen and (max-width: 635px) {
    .top > :nth-child(1) > p {
        font-size: 5vw;
    }

    .top > :nth-child(1) > img {
        height: 7.5vw;
        margin-right: 2.5vw;
    }

    .top > :nth-child(2) > a > button {
        font-size: 5vw;
    }
}


@media screen and (max-width: 390px) {
    .top > :nth-child(2) {
        flex-direction: column;
    }
}

@media screen and (max-width: 160px) {
    .top > :nth-child(2) > a {
        margin: 0;
    }

}