.error
{
  color:red;
  font-size:1.1em;
}

input:invalid {
  background-color: #8b0606;
}

input:valid {
  outline: 4px solid  #0ed145;
}
.bodyClass
{
    background-color:#0ed145;
    
}

.infoOneCampaign
{
  margin:0.1em;
  width:80%;
}
.commentBox
{
  background-color:rgb(148, 148, 148);
  color:black;
  border :2px solid black;
  padding:0.5em;
  margin-bottom:0.25em;
  position:center;
  justify-content:center;
}
.greenContainer
{
    background-color:#0ed145;
    height:53.5em;
    margin:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
}

.greenContainerAllCampaigns
{
    background-color:#0ed145;
    padding:1em;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    
}

.greyContainerViewAllCampaigns
{
  
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  padding:3em;
  padding-top:0em;
  background-color:#e7e7e7;
  border-radius:2em;
}
.greyContainerOneCampaign
{

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0.7em;
    background-color:#e7e7e7;
    border-radius:2em;
}
.greyContainerAllCampaigns
{

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:0em;
    padding-left:2em;
    padding-right:2em;
    background-color:#e7e7e7;
    border-radius:2em;
}
.greyContainer
{

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    padding:3em;
    background-color:#e7e7e7;
    border-radius:2em;
}


.textH {
    margin-bottom:1em;
    font-size: 5vw;
    line-height:0.7%;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu   Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight:normal;
  }
  .textHCampaign
  {
      margin-bottom:1em;
      font-size: 3.5vw;
      line-height:0.7%;
      font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu   Sans", "Helvetica Neue", Arial, sans-serif;
      font-weight:normal;
  }
  .campaignNameText
{

    margin-bottom:0.7em;
    font-size: 3.3vw;
    line-height:0.7%;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu   Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight:normal;
  
}
.inputBox
{
  width:30vw;
  font-size:1.5em;
  padding:0.5em;
  margin-top:0.7em;
  border:0;
  outline:none;/* chestia cu albastru la click*/
}

.submitButton
{

  width:30vw;
  font-size:1.5em;
  padding:0.5em;
  padding-top:0.8em;
  padding-bottom:0.8em;
  margin-top:1em;
  border:0;
  box-sizing: content-box; /* pt a avea acelasi width ca inputBox-urile*/
  outline:none;/* chestia cu albastru la click*/

  background-color:#0ed145;
  color:white;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu   Sans", "Helvetica Neue", Arial, sans-serif;

}

.controlButton
{

  width:30vw;
  font-size:1.5em;
  padding:0.5em;
  padding-top:0.8em;
  padding-bottom:0.8em;
  margin-top:1em;
  border:0;
  box-sizing: content-box; /* pt a avea acelasi width ca inputBox-urile*/
  outline:none;/* chestia cu albastru la click*/

  background-color:black;
  color:white;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu   Sans", "Helvetica Neue", Arial, sans-serif;

}
.controlButton:hover
{
    background-color:white;
    color:black;
    outline:none; /* chestia cu albastru cand apesi */
    transition-duration:0.8s ;
}

.submitButton:hover
{
    background-color:white;
    color:black;
    outline:none; /* chestia cu albastru cand apesi */
    transition-duration:0.8s ;
}

.submitButton:active
{
    background-color:black;
    color:white;
    transform: translateY(5%);
    outline:none;
}

::placeholder
{
  color:gray;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu   Sans", "Helvetica Neue", Arial, sans-serif;
}


 .textH
 {
  font-size: 6vw;
 }


 @media screen and (max-width: 1333px)
 {
  

   .textHCampaign
  {
      font-size: 5.5vw;

  }

  .submitButton
{


  font-size:1em;
  
}

.controlButton{
  font-size:1em;
}

.inputBox
{
  
  font-size:1em;
}


 }


 @media screen and (max-width: 700px) 
{

 .textH
 {
  font-size: 10vw;
 }

.greyContainer
{
  padding:1em;
}

.campaignNameText
{
    font-size: 4.3vw;
}

.textHCampaign
{
    font-size: 7.5vw;

}

}


@media screen and (max-width: 390px) 
{

.greyContainer
{

    padding:1em;

}
 .textH
 {
  font-size: 12vw;
 }


 .textHCampaign
 {
     font-size: 8.5vw;

 }
 
.campaignNameText
{
    font-size: 8vw;
}
 
}

@media screen and (max-width: 300px)
{
  .greyContainer
  {
    padding:0.5em;
  }

  .textH{
    font-size: 16vw;
  }

  .textHCampaign
  {
      font-size: 9.5vw;

  }
}

@media screen and (max-width: 220px)
{

    .greyContainerAllCampaigns
    {
        padding-left:2em;
        padding-right:2em;
    
    }

}