.error
{
    color:red;
    font-size:1.1em;
}

input:valid {
  outline: 4px solid  #0ed145;
}

input:focus:invalid {
  background-color: #8b0606;
}

.parentDiv
{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  padding: 5em 5% 10em 5%;
  background: #e7e7e7;
}

.leftDiv
{ 
  display:flex;
  flex-direction:column;
  background-color: inherit;
  align-items:flex-start;
  justify-content:center;
}

.rightDiv
{
  display:flex;
  flex-direction: column;
  background-color: inherit;
  align-items: start;
  justify-content: space-evenly;
}

.divInput
{
  background-color:#e7e7e7;
  align-items: center;
  justify-content:center;
  display:flex;
  flex-direction:column;
}

.inputButtonsContainer
{
  display:flex;
  background-color:#e7e7e7;
  align-items:center;
  flex-direction: row;
  justify-content:space-between;
}

.textH
{
  font-size:3em;
  margin: 0;
  font-weight:normal;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  
}

.signupButton
{  
  height: 2em;
  width: 100%;
  font-size: 1.5em;
  margin-top:3%;
  outline: none;
  border: 0;
  background-color:#0ed145;
  color:white;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu   Sans", "Helvetica Neue", Arial, sans-serif;
}

.loginButton
{
  font-size:1.5em;
  height: 5em;
  width: 6em;
  margin-left: 5%;
  border: none;
  outline: none;
  background-color:#0ed145;
  color:white;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu   Sans", "Helvetica Neue", Arial, sans-serif;
  
}

.loginButton:hover
{
    background-color:white;
    color:black;
    outline:none; /* chestia cu albastru cand apesi */
    transition-duration:0.8s ;
    
}

.loginButton:active
{
    background-color:black;
    color:white;
    transform: translateY(5%);
    outline:none;
}

.signupButton:hover
{
    background-color:white;
    color:black;
    outline:none; /* chestia cu albastru cand apesi */
    transition-duration:0.8s ;
}

.signupButton:active
{
    background-color:black;
    color:white;
    transform: translateY(5%);
    outline:none;
}

.inputBox
{
  font-size:1.5em;
  padding:0.5em;
  border:0;
  border-radius:0.2em;
  outline:none;/* chestia cu albastru la click*/
}

.divInput > :nth-child(1) {
  margin-bottom: 5%;
}

.forgotPW
{
  font-size:1.5em;
  text-decoration:none;
  color:gray;
}

::placeholder
{
  color:gray;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu   Sans", "Helvetica Neue", Arial, sans-serif;
}

@media only screen and (max-width: 1100px)
{
  .parentDiv
  {
    flex-direction:column;
  }

  .leftDiv {
    margin-bottom: 2em;
  }

  .forgotPW {
    margin-top: 0.5em;
  }

  @media only screen and (max-width: 635px)
  {
    .inputButtonsContainer {
      flex-direction: column;
    }

    .loginButton {
      width: 100%;
      height: 2em;
      margin-left: 0;
      margin-top: 1em;
      font-size: 5vw;
    }

    .inputBox {
      width: 90%;
      margin-left: 0;
      margin-right: 0;
      font-size: 4vw;
    }

    .textH {
      font-size: 7vw;
    }

    .signupButton {
      font-size: 4vw;
    }

    .forgotPW {
      font-size: 3vw;
      margin-top: 0.5em;
    }

    .parentDiv {
      padding: 5vw;
      align-items: center;
    }

    .leftDiv {
      align-items: center;
    }

    .rightDiv {
      align-items: center;
    }

  }

}