<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="http://localhost:80/GaSM/public/css/upperPage.css">
    <link rel="stylesheet" type = "text/css" href="http://localhost:80/GaSM/public/css/inputButtons.css">
    <link rel="stylesheet" type = "text/css" href="http://localhost:80/GaSM/public/css/statisticsStyle.css">
    <title>Statistics</title>
</head>

<body>
    <div class="top">
        <!--top part-->
        <div>
            <img src="logo.jpg" alt="Logo">
            <p>
                GaSM
            </p>
        </div>

        <div>
            <button onclick="location.href = './index.html'" class="D3Button">
                Home
            </button>

            <button onclick="location.href = './map.html'" class="D3Button" class="D3Button">
                Map
            </button>

            <button>
                Statistics
            </button>
        </div>
    </div>
    <div class="main1">
        <div class="buttons">
            <button class="D3Button button" id="firstButton">
                Download CSV
            </button>
            <button class="D3Button button" id="secondButton">
                Download PDF
            </button>
            <button class="D3Button button" id="thirdButton">
                Download HTML
            </button>
        </div>
        <img src="graph.png">
    </div>
    <div class="main2">
        <div class="box1">
            <h3 class="box-p">
                Changes
            </h3>
            <div class="changes">
                <div class="box-firstchange">
                    <div class="uparrow"> </div>
                    <span> +3% Efficiency</span>
                </div>
                <div class="box-secondchange">
                    <div class="uparrow"></div>
                    <span> -5% Congestion </span>
                </div>
                <div class="box-thirdchange">
                    <div class="downarrow"></div>
                    <span> -5% Speed </span>
                </div>
            </div>
        </div>
        <div class="box2">
            <h3 class="box-p">
                Garbage distribution
            </h3>
            <div class="circle-container">
                <div class="circle"></div>
            </div>
        </div>
        <div class="box3">
            <h3 class="box-p">
                Other stuff
            </h3>
            <div class="box-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias ad ullam, porro ut dolorem dolore eius
                harum temporibus id blanditiis quis dignissimos ex inventore odio molestiae quos. Officiis, quod
                exercitationem.
            </div>
        </div>
    </div>
</body>

</html>